@tailwind base;
@tailwind components;
@tailwind utilities;
*{
   
   margin: 0;
   padding:0;
   box-sizing: border-box;

}
body{
   
   @apply bg-dark leading-6 ;
   direction: ltr;
   color: aliceblue;
   overflow-x: hidden;
}
canvas {
   display: block;
  
 }
 
html{
   scroll-behavior: smooth;
}
