@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'sirenia';
   font-style: normal;
   font-weight: 500;
   src: url('/fonts/Floodfonts - Sirenia Regular.otf'); /* IE9 Compat Modes */
 
}
@font-face {
   font-family: 'verdana';
   font-style: normal;
   font-weight: 500;
   src: url('/fonts/verdana/verdana.ttf'); /* IE9 Compat Modes */
 
}
@font-face {
   font-family: 'mont';
   font-style: normal;
   
   src: url('/fonts/mont.ttf'); /* IE9 Compat Modes */
 
}
.color{
  @apply bg-clip-text text-transparent bg-gradient-to-l from-tan to-gold;
}
*{
   
   margin: 0;
   padding:0;
   box-sizing: border-box;

}
body{
   
   @apply bg-dark leading-6  ;
   direction: ltr;
   color: #f0f8ff;
   overflow-x: hidden;
   background-image: url("images/bg.png");

   font-family: "mont";
}
canvas {
   display: block;
  
 }
 
html{
   scroll-behavior: smooth;
}

.navlink:hover .dot {
  @apply block transition-all duration-1000 opacity-100;

}
video {

  overflow-clip-margin: content-box;
  overflow: clip;
}